<h2>Carpenters <br>
  <a href="/carpenters/new">Are you a maker? Add your portfolio.</a>

  <ul>
    <% @carpenters.each do |carpenter| %>
      <ul>
        <a href="/carpenters/<%= carpenter.id %>">
        </a>
      </ul>
    <% end %>
  </ul>
