<h2>Carpenters </h2>
    <% @carpenters.each do |carpenter| %>
      <li>
        <%= link_to carpenter.name, carpenter_path(carpenter) %>
      <li>
    <% end %>

<%= link_to "Add your portfolio +", new_carpenter_path %>
