<h2>Carpenters </h2>
    <% @carpenters.each do |carpenter| %>
      <li>
        <a href="/carpenters/<%= carpenter.id %>">
          <%= carpenter.name %>
        </a>
      <li>
    <% end %>

<a href="/carpenters/new">Add your portfolio +</a>
