<h2>Carpenters </h2>
<a href="/carpenters/new">Are you a maker? Add your portfolio +</a>

<div class="carpenters">
  <ul>
    <% @carpenters.each do |carpenter| %>
      <ul>
        <a href="/carpenters/<%= carpenter.id %>">
          <%= carpenter.name %>
        </a>
      </ul>
    <% end %>
  </ul>
</div>
