<h2>Carpenters  <br>
<a href="/carpenters/new">Are you a maker? Add your portfolio +</a> </h2>
<a href="/goods">Furniture</a>

  <ul>
    <% @carpenters.each do |carpenter| %>
      <li>
        <a href="/carpenters/<%= carpenter.id %>">
          <%= carpenter.name %>
        </a>
      </li>
    <% end %>
  </ul>
