<h2>Furniture</h2>
  <% @goods.each do |good| %>
    <li>
      <%= link_to "#{good.make} - $#{good.price}",carpenter_good_path(good.carpenter,good) %> <br>
      <img class = 'good-photo' src="<%= good.photo_url %>">
    </li>
  <% end %>
<%= link_to 'Back', carpenters_path %>
