<h3>All Goods:</h3>
<ul>
  <% @goods.each do |good| %>
    <ul>
      <img class = 'good-photo' src="<%= good.photo_url %>"> <br>
      <%= link_to "#{good.make} - $#{good.price}",carpenter_good_path(good.carpenter,good) %> <br>
    </ul>
  <% end %>
</ul>
<%= link_to 'Back', carpenters_path %>
