<h3>Goods <%= link_to "(+)", new_carpenter_good_path(@carpenter) %></h3>
<ul>
  <% @carpenter.goods.each do |good| %>
    <ul>
      <%= link_to "#{good.make} (#{good.price})", carpenter_good_path(@carpenter, good) %>
    </ul>
  <% end %>
</ul>
