#page-wrap {
     width: 800px;
     margin: auto;
}

* {
  box-sizing: border-box;
}
body{
  font-family: 'helvetica';
  text-align: center;
  max-width: 60em;
  background-color: white;
  color: #707272;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 42pt;
}

h2 {
  padding: t;
  font-size: 28pt;
}

p {
  font-size: 15pt;
}

li {
  text-align: center;
  list-style-type: none;
  font-size: 18pt;
}

a {
  color: inherit;
  font-size: 14pt;
  text-align: center;
  text-decoration: none;
}

input {
  width: 13em;
  height: 1.5em;
  text-align: left;
  margin-right: 1em;
  margin-bottom: .5em;
  display: block
}

.style_image {
  margin: inherit;
}

.good-photo {
  width: 550px;
  margin: 10pt;
  border: 2pt black;
}

#contact {
    text-decoration: none;
    list-style-type: none;
    font-size: 22pt;
    border: 1pt solid black;
  }

.button {
    text-align: center;
    display: inline;
    height: 50px;
    font-size: 19pt;
    width: 90px;
    background: #707272;
    color: white;
    border: 5px #707272;
    padding: 6pt;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
