body{
  font-family: 'lucida grande';
  max-width: 60em;
  /*margin:20px;
  padding:20px;*/
  background-color: white;
  color: #4F4F55;
}

h1 {
  text-align: center;
  font-size: 42pt;
}

li {
  font-size: 26pt;
  text-align: center;
}

a {
  color: inherit;
  font-size: 14pt;
  text-align: center;
  text-decoration: none;
}

input {
  width: 13em;
  height: 1.5em;
  text-align: left;
  margin-right: 1em;
  margin-bottom: .5em;
  display: block
}

.style_image {
  margin: inherit;
}

.good-photo {
  width: 550px;
  border: 2pt solid gray;
  margin: 10pt;
}

div.carpenters {
    margin:20px;
    padding:20px;
    text-decoration: none;
    border: 3pt solid gray;
}

nav {
  display: inline;
  width: 60px;
  text-shadow: 20pt;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
